*/sol/
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
/matching/StableMatching/.vs/StableMatching
/matching/StableMatching/bin/Debug/net6.0
/matching/StableMatching/obj/Debug/net6.0
/matching/.alexander.out.txt
/matching/.yourname.out.txt
/matching/StableMatching/.vs/ProjectEvaluation
/closest-points/ClosestPoints/ClosestPoints/obj
/closest-points/ClosestPoints/ClosestPoints/bin/Debug/net6.0
/closest-points/ClosestPoints/.vs
/.vs
/closest-points/closest-pair/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/closest-points/closest-pair/obj
/gorilla/Gorilla/bin/Debug/net6.0
/gorilla/Gorilla/obj
/matching/StableMatching/obj/Release/net6.0
/red-scare/RedScare/.vs
/red-scare/RedScare/RedScare/bin
/red-scare/RedScare/RedScare/obj
/red-scare/RedScare/.vs/RedScare/v17/.suo
